<odoo>
    <menuitem id="menu_api_root" name="API Management" parent="base.menu_custom" sequence="90" />
    <menuitem id="menu_api_app_key" name="API App Keys" parent="menu_api_root" action="action_api_app_key" sequence="10"/>
    <menuitem id="menu_api_auth_endpoint" name="Auth Endpoints" parent="menu_api_root" action="action_api_auth_endpoint" sequence="15"/>
    <menuitem id="menu_api_model_endpoint" name="Model Endpoints" parent="menu_api_root" action="action_api_model_endpoint" sequence="20"/>
    <menuitem id="menu_api_custom_endpoint" name="Custom Endpoints" parent="menu_api_root" action="action_api_custom_endpoint" sequence="30"/>
</odoo>
